/*
  -- File: page.css
  -- Author: Gerik Peterson

  -- Just some notes about the defaults here:
  
  -- Page location and dimetions are stored in a div with the id #page
  -- The page_container wraps the pages within the pages
  
  */

html,body {
    margin:0;
    background : rgb(0,255,255) url("/img/bg-body.gif") repeat 0 0;
    color      : #fff;
/*
	background : #FFFF33 url("/img/bg-body.gif") repeat 0 0;
	background : #666 url("/img/bg-body.gif") repeat 0 0;
*/
}

#page {
	max-width  : 1098px;
	margin     : 0 auto;
	padding    : 5px 10px 10px 10px;
/*
	width      : 960px;
	width      : 960px;
*/
}

/*
	This means the content width is: 1098 - page_container padding(20) = 1078
*/
#page_container {
    background : #fff;
    float      : left;
    padding    : 10px;
    color      : #566;
    margin-bottom  : 50px;
/* TODO: IE Specifics
	text-align : center;
*/
/* Misc Extras:
	width      : 940px;
	margin     : 0 auto;
	margin-top : 10px;
	height     : 100%;
	clear      : both;
	float      : left;
	max-width  : 960px;
	height     : 100%;
	border     : 20px blue solid;
*/
}

.page_obj {
	position: relative;
	width: 100%;
	max-width: 900px;
	border-width : 1px 1px 0px 1px;
	border-color : black;
	border-style : solid;
/*	margin: 0 auto;
*/}

.shadow2 {
/* Taken from: http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/ */
	-moz-box-shadow   : 5px 5px 7px #000;
	-webkit-box-shadow: 5px 5px 7px #000;
	box-shadow        : 5px 5px 7px #000;
/* For IE 8 */
	-ms-filter        : "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
	filter            : progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
}

 .shadow {
    box-shadow        : 0px 0px 50px #000;
    -o-box-shadow     : 0px 0px 50px #000;
    -webkit-box-shadow: 0px 0px 50px #000;
    -moz-box-shadow   : 0px 0px 50px #000;

    /* For IE 5.5 - 7 */
    /* for IE4 - IE7 */
    filter:
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4);
    -ms-filter: "
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4)
    ";
}
