<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div><!-- header -->

    <div id="page">
      <div id="page-header">
        <h2>This is the page header</h2>
      </div><!-- page-header -->

      <div id="page-content">

        <div id="left-content" class="left">
          <p>This is the left content</p>
        </div><!-- left-content -->

        <div id="right-content" class="right">
          <p>This is the right content</p>
        </div><!-- right-content -->

      </div><!-- page-content -->

    </div><!-- container -->
  </body>
</html>
