	<div id="page" class="container">
      <div class="row">
        <div class="col-md-12">
			<div id="statement">The sky is blue</div>
        </div>
      </div><!-- page-header -->

      <div id="page-content" class="row">

        <% include trevidence %>

      </div><!-- page-content -->
