
		<div class="col-md-6 support-container top left">
			<div class="col-md-12 support-title yes">YES</div>
			<div class="col-md-12 support-quantifier">
				<div class="col-md-3">Always</div>
				<div class="col-md-3"><span>Support </span><span>50%</span></div>
				<div class="col-md-3"><span>Credibility </span><span>50%</span></div>
				<div class="col-md-3"><span>Rating </span><span>True</span></div>
			</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 ">Support this idea:<form><input type="text" name="support"></input></form></div>
		</div><!-- top left -->

		<div class="col-md-6 support-container top left">
			<div class="col-md-12 support-title no">NO</div>
			<div class="col-md-12 support-quantifier">
				<div class="col-md-3">Always</div>
				<div class="col-md-3"><span>Support </span><span>50%</span></div>
				<div class="col-md-3"><span>Credibility </span><span>50%</span></div>
				<div class="col-md-3"><span>Rating </span><span>True</span></div>
			</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 ">Support this idea:<form><input type="text" name="support"></input></form></div>
		</div><!-- top left -->

		<div class="col-md-6 support-container top left">
			<div class="col-md-12 support-quantifier">
				<div class="col-md-3">Sometimes</div>
				<div class="col-md-3"><span>Support </span><span>50%</span></div>
				<div class="col-md-3"><span>Credibility </span><span>50%</span></div>
				<div class="col-md-3"><span>Rating </span><span>True</span></div>
			</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 stmt-support yes">This is a yes reason</div>
			<div class="col-md-12 ">Support this idea:<form><input type="text" name="support"></input></form></div>
		</div><!-- top left -->

		<div class="col-md-6 support-container top left">
			<div class="col-md-12 support-quantifier">
				<div class="col-md-3">Sometimes</div>
				<div class="col-md-3"><span>Support </span><span>50%</span></div>
				<div class="col-md-3"><span>Credibility </span><span>50%</span></div>
				<div class="col-md-3"><span>Rating </span><span>True</span></div>
			</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 stmt-support no">This is a no reason</div>
			<div class="col-md-12 ">Support this idea:<form><input type="text" name="support"></input></form></div>
		</div><!-- top left -->
