/* ******************************************
* base_birh.css
* 
* 
* ******************************************/

body {
    background-color : #E5E5E5;
}

#container {
/*	margin-top : 2%;
*/
	position : relative;
}

#grid_container {
}

/*
#video_overlay{
	border : 10px solid black;
    position:absolute;
    top:0px;
    left:25%;
    background-color:rgba(255,255,0,1);
}*/

.gridblock {
/* 
	background: #00ff00 url('../img/bihr_logo.png') no-repeat fixed center;
	background: #00ff00 url('../img/bihr_logo.png') no-repeat;
	background-image: url('../img/bihr_logo.png') no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #00ff00 url('../img/bihr_logo.png');
*/
	height:150px;
	border:1px solid black;
	display:block;
	padding:0px;
}

#gridblock_aboutproject {
}

#gridblock_aboutcrc{
}

#gridblock_crccommittee {
}

#gridblock_timemachine {
}

#gridblock_keyplayers {
}

#gridblock_crcanduk {
}

#gridblock_getinvolved {
}

#gridblock_haveyoursay {
}



.gridblock_door {
	height : 100%;
	width : 100%;
}

.gridblock_content {
	height : 150px;
	width : 100%;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.no-pad-right {
	padding-right: 0;
}
.no-pad-left{
	padding-left: 0;
}

/* ************************************************************************** */

// Small screens
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


/* ************************************************************************** */


// Medium screens
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


/* ************************************************************************** */

// Large screens
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xxlarge screens */

