<!-- About -->
<div class="content hidden" id="content-about-site">
	<h2>About this Site</h2>
	<p><b>First...I almost quite literally built this overnight...(so try not to be too hard on it!)</b></p>
	<p>I've built this site purely to develop my presense on the web.  I personally don't think you can really call yourself an IT geek without having your own website.  I've had a few over the years and having taken down an old one from ages ago I finally decided to put something else new up.</p>
	<p><b>Some Details...</b></p>
	<p>This is a purely static page built with html, css, and some jquery.  There's nothing else special going on here as I really just wanted to get something up that had some content. :)</p>
	<h2 id="back-about-site"><a href="#">back</a></h2>
</div><!--content-about-->
