<!-- Experience -->
<div class="content hidden" id="content-experience">
	<h2>Experience</h2>
	<ul>
		<li><h3>My Strength is in Management:</h3>
		<p>From my jobs as a young kid, to projects in University, to now my career in IT I always seem to float toward management roles.  I believe it's because I value teaching others and I always love looking at things from the top-down, seeing how it all fits together.</p>
		<p>Specific to IT, I now have 2 1/2 years of experience leading development teams in both the Agile and Waterfall development methodologies in the full process of the workflow.  It no longer matters where you put me, the objective is simply: provide good value to our customers quickly.</p></li>
		<li><h3>A brief insight into Technologies:</h3>
		<p>So, the one language that I have been working with the most over these past 5 years is called Tcl.  A procedural development language which is quick to get things up and going but lacks a community and frameworks to go with it.  I often think this is some sort of drawback, however, in reality it is only a small piece of the knowledge I have gained over the course of the past several years.</p>
		<p>While developing in Tcl I've also been working on Linux servers (both in terms of the terminal and understanding the OS in order to monitor the servers when needed), I've been developing front end web applications (html, css, a little bit of angular, js, jquery, etc), I've been working on architectural design patters which depend on and use APIs (json, xml, messaging queues, etc).  I've also learnt a tremendous amount about good and bad code (please cut your proc sizes down and STOP duplicating code!!!), and I can't forget that my masters was in Java and I have my SCJP (which is a little old now, but I'd be happy to pick up and work on again!).</p></li>
	</ul>
	<h2 id="back-experience"><a href="#">back</a></h2>
</div><!--content-experience-->
