<!-- footer -->
<div id="footer">
<hr />
	<p>I'm not exactly in the habit of posting my personal details online, but I guess if you need here are some of the typical contact links...</p>
	<a href="http://uk.linkedin.com/in/gerikpeterson"><img src="<%= configs.path.img %>icon_linked-in_50x50.jpg"></a>
	<a href="https://www.facebook.com/gerik.peterson.3"><img src="<%= configs.path.img %>icon_facebook_50x50.png"></a>
	<a href="https://github.com/GGerikP"><img src="<%= configs.path.img %>icon_github_50x50.png"></a>
	<a href="http://london.humanistchoir.org/community/ggerikp/"><img src="<%= configs.path.img %>icon_humanist-red_50x50.png"></a>
</div><!--footer-->

</div><!-- container -->
</body>
</html>