<!-- Interests -->
<div class="content hidden" id="content-interests">
	<h2>Other Interests</h2>
		<p>Outside of work, my other love of life is music.  I have been a part of the <a href="http://london.humanistchoir.org/">British Humanist Choir</a> for over 2 years now and that's what takes up most of my other free time.  Not only am I an active vocal participant but I've also been known to help out with the facilitation and organization of the group whether that's holding sectional rehearsals or helping with the website or whathaveyou.  One way or another, they are an amazing group and I love being a part of it.</p>
	<h2 id="back-interests"><a href="#">back</a></h2>
</div><!--content-experience-->
