<!-- Values -->
<div class="content hidden" id="content-values">
	<h2>Values</h2>
	<ul>
		<li><b>People:</b> Take care of those you work with.  We all work with and for each other on all levels, so we can all benefit from working with and learning from each other.</li>
		<li><b>Value:</b> Focus on the value you provide to your customer.  If money is your objective: money is what you get for providing good value, so if you provide things that are valuable to your customers you can get money for it.  However, no matter the currency, the trade is in value.</li>
		<li><b>Leadership:</b> Leadership does not come from the top.  Leadership comes from all levels through good communication and the drive to get things done.</li>
		<li><b>Improvement:</b> The desire to grow and learn is critical to any individual; not just technically but in their personal life as well.</li>
		<li><b>Enjoyment:</b> No matter what you're doing you ought to enjoy it.  Whether it's data entry or learning about architecture, you ought to try and enjoy every moment of it.</li>
	</ul>
	<h2 id="back-values"><a href="#">back</a></h2>
</div><!--content-values-->
