/*
 -- File: base.css
  -- Author: Gerik Peterson
*/

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.page_container {
	width  : 100%;
//	border : 20px blue solid;
}

.page_obj {
	position: relative;
	width: 100%;
	max-width: 900px;
//	margin: 0 auto;
	border-width : 1px 1px 0px 1px;
	border-color : black;
	border-style : solid;
}

