/*
  -- File: content.css
  -- Author: Gerik Peterson
*/

/*
	The expected width is 960 for the page body
	So, sub-divided:
		-- padding       =  20px (10 on both sides
		-- sub-nav       = 210px
		-- content-group = 700px
		------------------------
		   total         = 930px
		   
		   left for borders = 10px
*/

#page_body {
	width         : 100%;
	float         : left;
	padding-left  : 10px;
/*
	width         : 1078px;
	border  : 1px red solid;
	max-width : 1098px;
	min-width : 500px;
	width      : 920px;
	background : url("/static/img/bg-content.gif") repeat-y 0px 0px;
	padding    : 10px;
	width      : 960px;
	height : 500px;
	border  : 1px red solid;
*/
}

/*
	The page body - margin = content-sub1 + content-group
	1078 - 20 = 888 + 210
	1058 = 848 + 210
*/
#content-group {
	height    : 100%;
	max-width : 78%;
        float     : left;
/*
        position  : absolute;
        left      : 215px;
	float     : right;
        clear     : left;
	max-width : 848px;
	width   : 700px;
	width   : 100%;
*/
}

#content-sub1 {
	width         : 20%;
	min-width     : 210px;
	height        : 100%;
	float         : left;
	padding       : 0px 10px 0px 0px;
/*
	max-width     : 210px;
	border  : 1px red solid;
*/
}

/*
	The content-group = content-main + content-extra
	848 = 708 + 140
*/
#content-main {
	/* Total Width = 708px = (width + padding + margin)*/
	max-width   : 80%;
	padding     : 0px 10px 0px 0px;
	float       : left;
/*
	max-width   : 698px;
	border  : 1px blue solid;
	width   : 100%;
	height  : 100%;
*/
}

#welcome_message {
	float : left;
}


#site_architecture {
	float : left;
}

#aboutme_external_logos a img {
	height  : 50px;
/*
*/}

#content-extra {
	max-width : 18%;
	float     : right;
/*
	width  : 140px;
	border : 1px green solid;
	--Adding the height here causes it to pick up the height of the screen
	    and kills the float functionality.
	height : 100%;
*/
}

#content-sub1 * {
	width      : 210px;
}

#content-sub1 ul{
	margin     : 0px 0px 10px 0px;
}

#content-blurb {
	float   : left;
/*
	width   : 550px;
*/
}

.blurb_stuff img {
	float      : left;
	text-align : left;
	width      : 150px;
}

#site_creation_content ul {
	padding     : 0px 5px 10px 5px;
}

#product_grid {
	float   : left;
/*
	width   : 600px;
*/
}

.block4_items {
	height : 450px;
	width  : 135px;
	float  : left;
/*
	border : 1px green solid;
	background-color: green;
	display: block;
	clear  : right;
*/
}

