/*
  -- File: content.css
  -- Author: Gerik Peterson
*/

/*
	The expected width is 960 for the page body
	So, sub-divided:
		-- padding       =  20px (10 on both sides
		-- sub-nav       = 210px
		-- content-group = 700px
		------------------------
		   total         = 930px
		   
		   left for borders = 10px
*/

#page_body {
	width         : 100%;
	float         : left;
	padding-left  : 10px;
/*
	width         : 1078px;
	border  : 1px red solid;
	max-width : 1098px;
	min-width : 500px;
	width      : 920px;
	background : url("/static/img/bg-content.gif") repeat-y 0px 0px;
	padding    : 10px;
	width      : 960px;
	height : 500px;
	border  : 1px red solid;
*/
}

#page_body>div {
/*
	border  : 1px black solid;
*/
}

/*
	The page body - margin = content-sub1 + content-group
	1078 - 20 = 888 + 210
	1058 = 848 + 210
*/
#content-group {
	height    : 100%;
	max-width : 79%;
/*
	border  : 1px black solid;
        float     : left;
        position  : absolute;
        left      : 325px;
	float     : right;
        clear     : left;
	max-width : 848px;
	width   : 700px;
	width   : 100%;
*/
}

#content-extra {
	max-width : 13%;
	float     : left;
/*
        min-width : 135px;
	width  : 140px;
	border : 1px green solid;
	--Adding the height here causes it to pick up the height of the screen
	    and kills the float functionality.
	height : 100%;
*/
}

.block4_items {
	width  : 135px;
	float  : left;
/*
	height : 450px;
	border : 1px green solid;
	background-color: green;
	display: block;
	clear  : right;
*/
}

